$colorColourCorePrimary: #0c2243;    
$colorColourCoreSecondary: #1a79d1;    
$colorColourCoreWhite: #ffffff;    
$colorColourCoreBlack: #000000;    
$colorColourRed20: #f6b4b2;    
$colorColourRed30: #f08280;    
$colorColourNeutral0: #ffffff;    
$colorColourNeutral5: #f3f3f4;    
$colorColourNeutral10: #f7f4f1;    
$colorColourNeutral15: #edebe9;    
$colorColourNeutral20: #e0dedc;    
$colorColourNeutral30: #cdcdcd;    
$colorColourNeutral40: #aaaaaa;    
$colorColourNeutral50: #606066;    
$colorColourNeutral60: #47464c;    
$colorColourNeutral70: #474747;    
$colorColourNeutral80: #303037;    
$colorColourNeutral85: #26262b;    
$colorColourNeutral90: #1c1c25;    
$colorColourNeutral95: #15151e;    
$colorColourNeutral100: #000000;    
$colorColourNeutralOverlay: #00000099;    
$colorColourNeutralTransparent: #ffffff00;    
$colorColourRed40: #ea514c;    
$colorColourRed50: #e10600;    
$colorColourHotRed50: #e10600;    
$colorColourRed60: #c20804;    
$colorColourRed70: #710e10;    
$colorColourMagenta40: #ed589d;    
$colorColourMagenta50: #e51073;    
$colorColourMagenta60: #bb1162;    
$colorColourPurple50: #6419ae;    
$colorColourPurple70: #5300a6;    
$colorColourYellow40: #f5d43d;    
$colorColourYellow50: #ffd100;    
$colorColourYellow60: #d9b308;    
$colorColourBlue40: #4098d9;    
$colorColourBlue50: #0076cc;    
$colorColourBlue60: #0463a9;    
$colorColourPurple80: #370969;    
$colorColourPrimaryPureBlack: #000000;    
$colorColourTeamRedBull: #3671c6;    
$colorColourTeamFerrari: #e8002d;    
$colorColourTeamMercedes: #27f4d2;    
$colorColourTeamMclaren: #ff8000;    
$colorColourTeamAstonMartin: #229971;    
$colorColourTeamAlpine: #ff87bc;    
$colorColourTeamKickSauber: #52e252;    
$colorColourTeamHaas: #b6babd;    
$colorColourTeamRb: #6692ff;    
$colorColourTeamAccessibleRedBull: #194e9b;    
$colorColourTeamWilliams: #64c4ff;    
$colorColourTeamAccessibleFerrari: #c20026;    
$colorColourTeamAccessibleMercedes: #027878;    
$colorColourTeamAccessibleMclaren: #c45500;    
$colorColourTeamAccessibleAstonMartin: #126247;    
$colorColourTeamAccessibleAlpine: #cd236e;    
$colorColourTeamAccessibleKickSauber: #008402;    
$colorColourTeamAccessibleHaas: #72777c;    
$colorColourTeamAccessibleRb: #4571de;    
$colorColourTeamAccessibleWilliams: #1c7cb7;    
$colorColourSystemGreen: #1a8930;    
$colorColourF2LightBlue: #00b1ff;    
$colorColourSystemLightGreen: #28973e;    
$colorColourF2Blue: #0090d0;    
$colorColourF2DarkBlue: #004267;    
$colorColourSystemYellow: #ffd100;    
$colorColourSystemOrange: #e66700;    
$colorColourSystemRed: #e91711;    
$colorColourSystemLightRed: #ff2d27;    
$colorColourF3Grey: #666666;    
$colorColourF3Red: #ff0000;    
/* This is a Figma workaround for layers that have shadows but no background color. */
$colorHackDoNotImplement: #00000000;    
$colorColourTypographyPrimary: $colorColourCoreBlack;    
$colorColourTypographySecondary: $colorColourCorePrimary;    
$colorColourBackgroundPrimary: $colorColourCorePrimary;    
$colorColourBackgroundSecondary: $colorColourCoreSecondary;    
$colorColourBrandHotRed: $colorColourRed50;    
$colorColourBrandCarbonBlack: $colorColourNeutral95;    
$colorColourBrandWarmWhite: $colorColourNeutral10;    
$colorColourBrandSectorPurple: $colorColourPurple80;    
$colorColourBrandVividMagenta: $colorColourMagenta50;    
$colorColourBrandPureWhite: $colorColourNeutral0;    
$colorColourSurfacePrimaryLight: $colorColourNeutral0;    
$colorColourSurfacePrimaryLightGraphite: $colorColourNeutral5;    
$colorColourSurfacePrimaryWarmWhite: $colorColourNeutral10;    
$colorColourSurfacePrimaryWarmGrey: $colorColourNeutral20;    
$colorColourSurfacePrimaryLightGrey: $colorColourNeutral30;    
$colorColourSurfacePrimaryGrey: $colorColourNeutral40;    
$colorColourSurfacePrimaryDarkGrey: $colorColourNeutral50;    
$colorColourSurfacePrimaryGraphiteGrey: $colorColourNeutral60;    
$colorColourSurfacePrimaryWarmDark: $colorColourNeutral80;    
$colorColourSurfacePrimaryDark: $colorColourNeutral90;    
$colorColourTextLight: $colorColourNeutral0;    
$colorColourStaticLight: $colorColourNeutral0;    
$colorColourStaticWarmLight: $colorColourNeutral10;    
$colorColourStaticWarmGrey: $colorColourNeutral20;    
$colorColourStaticLightGrey: $colorColourNeutral30;    
$colorColourStaticGrey: $colorColourNeutral40;    
$colorColourStaticDarkGrey: $colorColourNeutral50;    
$colorColourStaticGraphiteGrey: $colorColourNeutral60;    
$colorColourStaticWarmDark: $colorColourNeutral80;    
$colorColourStaticDark: $colorColourNeutral90;    
$colorColourStaticCarbonBlack: $colorColourNeutral95;    
$colorColourStaticPureBlack: $colorColourNeutral100;    
$colorColourTextWarmLight: $colorColourNeutral10;    
$colorColourTextWarmDark: $colorColourNeutral50;    
$colorColourTextDark: $colorColourNeutral90;    
$colorColourStaticVividMagenta40: $colorColourMagenta40;    
$colorColourTextPureBlack: $colorColourNeutral100;    
$colorColourStaticVividMagenta50: $colorColourMagenta50;    
$colorColourStaticVividMagenta60: $colorColourMagenta60;    
$colorColourStaticSectorPurple50: $colorColourPurple50;    
$colorColourStaticSectorPurple70: $colorColourPurple70;    
$colorColourStaticSectorPurple80: $colorColourPurple80;    
$colorColourButtonOverlay: $colorColourNeutralOverlay;    
$colorColourButtonPrimaryHover: $colorColourRed60;    
$colorColourButtonSecondaryDefault: $colorColourNeutral100;    
$colorColourButtonTertiaryDefault: $colorColourNeutralTransparent;    
$colorColourButtonTertiaryHover: $colorColourNeutral15;    
$colorColourButtonSecondaryHover: $colorColourNeutral40;    
$colorTokensColourTeamRedBull: $colorColourTeamRedBull;    
$colorTokensColourF2LightBlue: $colorColourF2LightBlue;    
$colorTokensColourF3Grey: $colorColourF3Grey;    
$colorTokensColourF3Red: $colorColourF3Red;    
$colorTokensColourTeamFerrari: $colorColourTeamFerrari;    
$colorTokensColourF2Blue: $colorColourF2Blue;    
$colorTokensColourF2DarkBlue: $colorColourF2DarkBlue;    
$colorColourAccentHotRed30: $colorColourRed30;    
$colorColourAccentHotRed20: $colorColourRed20;    
$colorColourAccentHotRed40: $colorColourRed40;    
$colorColourAccentHotRed50: $colorColourRed50;    
$colorColourAccentHotRed60: $colorColourRed60;    
$colorColourSystemPositive: $colorColourSystemGreen;    
$colorColourSystemWarning: $colorColourSystemYellow;    
$colorColourSystemError: $colorColourSystemOrange;    
$colorColourSystemNegative: $colorColourSystemRed;    
$colorTokensColourTeamMercedes: $colorColourTeamMercedes;    
$colorTokensColourTeamMclaren: $colorColourTeamMclaren;    
$colorTokensColourTeamAstonMartin: $colorColourTeamAstonMartin;    
$colorTokensColourTeamAlpine: $colorColourTeamAlpine;    
$colorTokensColourTeamKickSauber: $colorColourTeamKickSauber;    
$colorTokensColourTeamHaas: $colorColourTeamHaas;    
$colorTokensColourTeamRb: $colorColourTeamRb;    
$colorTokensColourTeamWilliams: $colorColourTeamWilliams;    
$colorColourAccentVividMagenta40: $colorColourMagenta40;    
$colorColourAccentVividMagenta50: $colorColourMagenta50;    
$colorColourAccentVividMagenta60: $colorColourMagenta60;    
$colorColourAccentSectorPurple50: $colorColourPurple50;    
$colorColourAccentSectorPurple70: $colorColourPurple70;    
$colorColourAccentSectorPurple80: $colorColourPurple80;    
$colorColourAccentSunnyYellow40: $colorColourYellow40;    
$colorColourAccentSunnyYellow50: $colorColourYellow50;    
$colorColourAccentSunnyYellow60: $colorColourYellow60;    
$colorColourAccentBrightBlue40: $colorColourBlue40;    
$colorColourAccentBrightBlue50: $colorColourBlue50;    
$colorColourAccentBrightBlue60: $colorColourBlue60;    
$colorColourButtonTonalDefault: $colorColourNeutral20;    
$colorColourButtonTonalHover: $colorColourNeutral40;    
$colorTokensColourTeamAccessibleRedBull: $colorColourTeamAccessibleRedBull;    
$colorTokensColourTeamAccessibleFerrari: $colorColourTeamAccessibleFerrari;    
$colorTokensColourTeamAccessibleMercedes: $colorColourTeamAccessibleMercedes;    
$colorTokensColourTeamAccessibleMclaren: $colorColourTeamAccessibleMclaren;    
$colorTokensColourTeamAccessibleAstonMartin: $colorColourTeamAccessibleAstonMartin;    
$colorTokensColourTeamAccessibleAlpine: $colorColourTeamAccessibleAlpine;    
$colorTokensColourTeamAccessibleKickSauber: $colorColourTeamAccessibleKickSauber;    
$colorTokensColourTeamAccessibleHaas: $colorColourTeamAccessibleHaas;    
$colorTokensColourTeamAccessibleRb: $colorColourTeamAccessibleRb;    
$colorTokensColourTeamAccessibleWilliams: $colorColourTeamAccessibleWilliams;    
$colorColourButtonPrimaryDefault: $colorColourBrandHotRed;    
$colorColourLiveDot: $colorTokensColourF2Blue;    
$colorColourSystemNeutral: $colorColourSurfacePrimaryDarkGrey;    
