
:root {
    --colorColourCorePrimary: #0c2243;    
    --colorColourCoreSecondary: #1a79d1;    
    --colorColourCoreWhite: #ffffff;    
    --colorColourCoreBlack: #000000;    
    --colorColourRed20: #f6b4b2;    
    --colorColourRed30: #f08280;    
    --colorColourNeutral0: #ffffff;    
    --colorColourNeutral5: #f3f3f4;    
    --colorColourNeutral10: #f7f4f1;    
    --colorColourNeutral15: #edebe9;    
    --colorColourNeutral20: #e0dedc;    
    --colorColourNeutral30: #cdcdcd;    
    --colorColourNeutral40: #aaaaaa;    
    --colorColourNeutral50: #606066;    
    --colorColourNeutral60: #47464c;    
    --colorColourNeutral70: #474747;    
    --colorColourNeutral80: #303037;    
    --colorColourNeutral85: #26262b;    
    --colorColourNeutral90: #1c1c25;    
    --colorColourNeutral95: #15151e;    
    --colorColourNeutral100: #000000;    
    --colorColourNeutralOverlay: #00000099;    
    --colorColourNeutralTransparent: #ffffff00;    
    --colorColourRed40: #ea514c;    
    --colorColourRed50: #e10600;    
    --colorColourHotRed50: #e10600;    
    --colorColourRed60: #c20804;    
    --colorColourRed70: #710e10;    
    --colorColourMagenta40: #ed589d;    
    --colorColourMagenta50: #e51073;    
    --colorColourMagenta60: #bb1162;    
    --colorColourPurple50: #6419ae;    
    --colorColourPurple70: #5300a6;    
    --colorColourYellow40: #f5d43d;    
    --colorColourYellow50: #ffd100;    
    --colorColourYellow60: #d9b308;    
    --colorColourBlue40: #4098d9;    
    --colorColourBlue50: #0076cc;    
    --colorColourBlue60: #0463a9;    
    --colorColourPurple80: #370969;    
    --colorColourPrimaryPureBlack: #000000;    
    --colorColourTeamRedBull: #3671c6;    
    --colorColourTeamFerrari: #e8002d;    
    --colorColourTeamMercedes: #27f4d2;    
    --colorColourTeamMclaren: #ff8000;    
    --colorColourTeamAstonMartin: #229971;    
    --colorColourTeamAlpine: #ff87bc;    
    --colorColourTeamKickSauber: #52e252;    
    --colorColourTeamHaas: #b6babd;    
    --colorColourTeamRb: #6692ff;    
    --colorColourTeamAccessibleRedBull: #194e9b;    
    --colorColourTeamWilliams: #64c4ff;    
    --colorColourTeamAccessibleFerrari: #c20026;    
    --colorColourTeamAccessibleMercedes: #027878;    
    --colorColourTeamAccessibleMclaren: #c45500;    
    --colorColourTeamAccessibleAstonMartin: #126247;    
    --colorColourTeamAccessibleAlpine: #cd236e;    
    --colorColourTeamAccessibleKickSauber: #008402;    
    --colorColourTeamAccessibleHaas: #72777c;    
    --colorColourTeamAccessibleRb: #4571de;    
    --colorColourTeamAccessibleWilliams: #1c7cb7;    
    --colorColourSystemGreen: #1a8930;    
    --colorColourF2LightBlue: #00b1ff;    
    --colorColourSystemLightGreen: #28973e;    
    --colorColourF2Blue: #0090d0;    
    --colorColourF2DarkBlue: #004267;    
    --colorColourSystemYellow: #ffd100;    
    --colorColourSystemOrange: #e66700;    
    --colorColourSystemRed: #e91711;    
    --colorColourSystemLightRed: #ff2d27;    
    --colorColourF3Grey: #666666;    
    --colorColourF3Red: #ff0000;    
    /* This is a Figma workaround for layers that have shadows but no background color. */
    --colorHackDoNotImplement: #00000000;    
    --colorColourTypographyPrimary: var(--colorColourCoreBlack);    
    --colorColourTypographySecondary: var(--colorColourCorePrimary);    
    --colorColourBackgroundPrimary: var(--colorColourCorePrimary);    
    --colorColourBackgroundSecondary: var(--colorColourCoreSecondary);    
    --colorColourBrandHotRed: var(--colorColourRed50);    
    --colorColourBrandCarbonBlack: var(--colorColourNeutral95);    
    --colorColourBrandWarmWhite: var(--colorColourNeutral10);    
    --colorColourBrandSectorPurple: var(--colorColourPurple80);    
    --colorColourBrandVividMagenta: var(--colorColourMagenta50);    
    --colorColourBrandPureWhite: var(--colorColourNeutral0);    
    --colorColourSurfacePrimaryLight: var(--colorColourNeutral0);    
    --colorColourSurfacePrimaryLightGraphite: var(--colorColourNeutral5);    
    --colorColourSurfacePrimaryWarmWhite: var(--colorColourNeutral10);    
    --colorColourSurfacePrimaryWarmGrey: var(--colorColourNeutral20);    
    --colorColourSurfacePrimaryLightGrey: var(--colorColourNeutral30);    
    --colorColourSurfacePrimaryGrey: var(--colorColourNeutral40);    
    --colorColourSurfacePrimaryDarkGrey: var(--colorColourNeutral50);    
    --colorColourSurfacePrimaryGraphiteGrey: var(--colorColourNeutral60);    
    --colorColourSurfacePrimaryWarmDark: var(--colorColourNeutral80);    
    --colorColourSurfacePrimaryDark: var(--colorColourNeutral90);    
    --colorColourTextLight: var(--colorColourNeutral0);    
    --colorColourStaticLight: var(--colorColourNeutral0);    
    --colorColourStaticWarmLight: var(--colorColourNeutral10);    
    --colorColourStaticWarmGrey: var(--colorColourNeutral20);    
    --colorColourStaticLightGrey: var(--colorColourNeutral30);    
    --colorColourStaticGrey: var(--colorColourNeutral40);    
    --colorColourStaticDarkGrey: var(--colorColourNeutral50);    
    --colorColourStaticGraphiteGrey: var(--colorColourNeutral60);    
    --colorColourStaticWarmDark: var(--colorColourNeutral80);    
    --colorColourStaticDark: var(--colorColourNeutral90);    
    --colorColourStaticCarbonBlack: var(--colorColourNeutral95);    
    --colorColourStaticPureBlack: var(--colorColourNeutral100);    
    --colorColourTextWarmLight: var(--colorColourNeutral10);    
    --colorColourTextWarmDark: var(--colorColourNeutral50);    
    --colorColourTextDark: var(--colorColourNeutral90);    
    --colorColourStaticVividMagenta40: var(--colorColourMagenta40);    
    --colorColourTextPureBlack: var(--colorColourNeutral100);    
    --colorColourStaticVividMagenta50: var(--colorColourMagenta50);    
    --colorColourStaticVividMagenta60: var(--colorColourMagenta60);    
    --colorColourStaticSectorPurple50: var(--colorColourPurple50);    
    --colorColourStaticSectorPurple70: var(--colorColourPurple70);    
    --colorColourStaticSectorPurple80: var(--colorColourPurple80);    
    --colorColourButtonOverlay: var(--colorColourNeutralOverlay);    
    --colorColourButtonPrimaryHover: var(--colorColourRed60);    
    --colorColourButtonSecondaryDefault: var(--colorColourNeutral100);    
    --colorColourButtonTertiaryDefault: var(--colorColourNeutralTransparent);    
    --colorColourButtonTertiaryHover: var(--colorColourNeutral15);    
    --colorColourButtonSecondaryHover: var(--colorColourNeutral40);    
    --colorTokensColourTeamRedBull: var(--colorColourTeamRedBull);    
    --colorTokensColourF2LightBlue: var(--colorColourF2LightBlue);    
    --colorTokensColourF3Grey: var(--colorColourF3Grey);    
    --colorTokensColourF3Red: var(--colorColourF3Red);    
    --colorTokensColourTeamFerrari: var(--colorColourTeamFerrari);    
    --colorTokensColourF2Blue: var(--colorColourF2Blue);    
    --colorTokensColourF2DarkBlue: var(--colorColourF2DarkBlue);    
    --colorColourAccentHotRed30: var(--colorColourRed30);    
    --colorColourAccentHotRed20: var(--colorColourRed20);    
    --colorColourAccentHotRed40: var(--colorColourRed40);    
    --colorColourAccentHotRed50: var(--colorColourRed50);    
    --colorColourAccentHotRed60: var(--colorColourRed60);    
    --colorColourSystemPositive: var(--colorColourSystemGreen);    
    --colorColourSystemWarning: var(--colorColourSystemYellow);    
    --colorColourSystemError: var(--colorColourSystemOrange);    
    --colorColourSystemNegative: var(--colorColourSystemRed);    
    --colorTokensColourTeamMercedes: var(--colorColourTeamMercedes);    
    --colorTokensColourTeamMclaren: var(--colorColourTeamMclaren);    
    --colorTokensColourTeamAstonMartin: var(--colorColourTeamAstonMartin);    
    --colorTokensColourTeamAlpine: var(--colorColourTeamAlpine);    
    --colorTokensColourTeamKickSauber: var(--colorColourTeamKickSauber);    
    --colorTokensColourTeamHaas: var(--colorColourTeamHaas);    
    --colorTokensColourTeamRb: var(--colorColourTeamRb);    
    --colorTokensColourTeamWilliams: var(--colorColourTeamWilliams);    
    --colorColourAccentVividMagenta40: var(--colorColourMagenta40);    
    --colorColourAccentVividMagenta50: var(--colorColourMagenta50);    
    --colorColourAccentVividMagenta60: var(--colorColourMagenta60);    
    --colorColourAccentSectorPurple50: var(--colorColourPurple50);    
    --colorColourAccentSectorPurple70: var(--colorColourPurple70);    
    --colorColourAccentSectorPurple80: var(--colorColourPurple80);    
    --colorColourAccentSunnyYellow40: var(--colorColourYellow40);    
    --colorColourAccentSunnyYellow50: var(--colorColourYellow50);    
    --colorColourAccentSunnyYellow60: var(--colorColourYellow60);    
    --colorColourAccentBrightBlue40: var(--colorColourBlue40);    
    --colorColourAccentBrightBlue50: var(--colorColourBlue50);    
    --colorColourAccentBrightBlue60: var(--colorColourBlue60);    
    --colorColourButtonTonalDefault: var(--colorColourNeutral20);    
    --colorColourButtonTonalHover: var(--colorColourNeutral40);    
    --colorTokensColourTeamAccessibleRedBull: var(--colorColourTeamAccessibleRedBull);    
    --colorTokensColourTeamAccessibleFerrari: var(--colorColourTeamAccessibleFerrari);    
    --colorTokensColourTeamAccessibleMercedes: var(--colorColourTeamAccessibleMercedes);    
    --colorTokensColourTeamAccessibleMclaren: var(--colorColourTeamAccessibleMclaren);    
    --colorTokensColourTeamAccessibleAstonMartin: var(--colorColourTeamAccessibleAstonMartin);    
    --colorTokensColourTeamAccessibleAlpine: var(--colorColourTeamAccessibleAlpine);    
    --colorTokensColourTeamAccessibleKickSauber: var(--colorColourTeamAccessibleKickSauber);    
    --colorTokensColourTeamAccessibleHaas: var(--colorColourTeamAccessibleHaas);    
    --colorTokensColourTeamAccessibleRb: var(--colorColourTeamAccessibleRb);    
    --colorTokensColourTeamAccessibleWilliams: var(--colorColourTeamAccessibleWilliams);    
    --colorColourButtonPrimaryDefault: var(--colorColourBrandHotRed);    
    --colorColourLiveDot: var(--colorTokensColourF2Blue);    
    --colorColourSystemNeutral: var(--colorColourSurfacePrimaryDarkGrey);    
}