
:root {
    /* 112 */
    --measureDimensionSpacings4xl: 112px;    
    --measureDimensionSpacings3xl: 96px;    
    --measureDimensionSpacingsXxl: 64px;    
    --measureDimensionSpacingsXl: 48px;    
    --measureDimensionSpacingsLg: 32px;    
    --measureDimensionSpacingsMd: 24px;    
    /* 16 */
    --measureDimensionSpacingsSm: 16px;    
    /* 16 */
    --measureDimensionSpacingsXs: 12px;    
    /* 4 */
    --measureDimensionSpacingsXxs: 4px;    
    --measureDimensionSpacingsCustomMd: 20px;    
    --measureDimensionSpacingsCustomButtonW: 28px;    
    --measureDimensionSpacingsCustomButtonH: 10px;    
    --measureDimensionSpacings3xs: 8px;    
    /* 4 */
    --measureDimensionSpacings4xs: 4px;    
    /* 4 */
    --measureDimensionSpacings5xs: 2px;    
    /* 16 */
    --measureDimensionSpacings2xs: 10px;    
    --measureDimensionBorderWidthThin: 1px;    
    --measureDimensionBorderWidthMedium: 2px;    
    --measureDimensionBorderWidthThick: 4px;    
    --measureDimensionRadiusNone: 0px;    
    --measureDimensionRadiusM: 8px;    
    --measureDimensionRadiusL: 16px;    
    --measureDimensionRadiusFull: 1000px;    
    --measureDimensionRadiusS: 4px;    
    --measureDimensionRadiusXl: 44px;    
    --measureDimensionRadiusXs: 2px;    
    --measureDimensionDataTableCellPaddingBlockFigmaOnly: 8px;    
    --measureDimensionDataTableHeaderPaddingBlockFigmaOnly: 12px;    
    --measureDimensionFontSize4xl: 48px;    
    --measureDimensionFontSize3xl: 40px;    
    --measureDimensionFontSize2xl: 32px;    
    --measureDimensionFontSizeXl: 24px;    
    --measureDimensionFontSizeL: 20px;    
    --measureDimensionFontSizeS: 16px;    
    --measureDimensionFontSizeXs: 14px;    
    --measureDimensionFontSize4xs: 10px;    
    --measureDimensionFontSize5xl: 60px;    
    --measureDimensionFontSize6xl: 80px;    
    --measureDimensionFontSize2xs: 12px;    
    --measureDimensionFontSize3xs: 11px;    
    --measureDimensionFontSizeM: 17px;    
    --measureDimensionFontLineHeight3xl: 42px;    
    --measureDimensionFontLineHeight2xl: 38px;    
    --measureDimensionFontLineHeightM: 32px;    
    --measureDimensionFontLineHeightXs: 24px;    
    --measureDimensionFontLineHeight3xs: 20px;    
    --measureDimensionFontLineHeight5xs: 16px;    
    --measureDimensionFontLineHeight4xl: 44px;    
    --measureDimensionFontLineHeight5xl: 52px;    
    --measureDimensionFontLineHeight6xl: 60px;    
    --measureDimensionFontLineHeight7xl: 74px;    
    --measureDimensionFontLineHeightL: 36px;    
    --measureDimensionFontLineHeightS: 28px;    
    --measureDimensionFontLineHeight6xs: 10px;    
    --measureDimensionFontLineHeight2xs: 22px;    
    --measureDimensionFontLineHeight4xs: 18px;    
    --measureDimensionFontLetterSpacingRegular: 0px;    
    --measureDimensionFontLetterSpacingWide: 0.5px;    
    --measureDimensionFontLetterSpacingTight: -0.5px;    
    --measureDimensionSpacingButtonPadding: var(--measureDimensionSpacingsCustomMd);    
    --measureDimensionSpacingCornerRadiusS: var(--measureDimensionSpacings4xs);    
    --measureDimensionSpacingCornerRadiusM: var(--measureDimensionSpacings3xs);    
    --measureDimensionSpacingPaddingItem4: var(--measureDimensionSpacings4xs);    
    --measureDimensionSpacingPaddingItem8: var(--measureDimensionSpacings3xs);    
    --measureDimensionSpacingPaddingItem16: var(--measureDimensionSpacingsSm);    
    --measureDimensionSpacingPaddingItem24: var(--measureDimensionSpacingsMd);    
    --measureDimensionSpacingPaddingItem32: var(--measureDimensionSpacingsLg);    
    --measureDimensionSpacingPaddingItem48: var(--measureDimensionSpacingsXl);    
    --measureDimensionSpacingPaddingItem64: var(--measureDimensionSpacingsXxl);    
    --measureDimensionSpacingPaddingItem12: var(--measureDimensionSpacingsXs);    
    --measureDimensionSpacingPaddingItem2: var(--measureDimensionSpacings5xs);    
    --measureDimensionSpacingPaddingItem10: var(--measureDimensionSpacings2xs);    
    --measureDimensionSpacingCornerRadiusRound: var(--measureDimensionSpacings3xl);    
    --measureDimensionSpacingSpacingItem4: var(--measureDimensionSpacings4xs);    
    --measureDimensionSpacingSpacingItem8: var(--measureDimensionSpacings3xs);    
    --measureDimensionSpacingSpacingItem16: var(--measureDimensionSpacingsSm);    
    --measureDimensionSpacingSpacingItem24: var(--measureDimensionSpacingsMd);    
    --measureDimensionSpacingSpacingItem32: var(--measureDimensionSpacingsLg);    
    --measureDimensionSpacingSpacingItem48: var(--measureDimensionSpacingsXl);    
    --measureDimensionSpacingSpacingItem64: var(--measureDimensionSpacingsXxl);    
    --measureDimensionSpacingSpacingItem2: var(--measureDimensionSpacings5xs);    
    --measureDimensionBorderIconThin: var(--measureDimensionBorderWidthThin);    
    --measureDimensionBorderIconMedium: var(--measureDimensionBorderWidthMedium);    
    --measureDimensionBorderIconThick: var(--measureDimensionBorderWidthThick);    
    --measureDimensionBorderButtonThin: var(--measureDimensionBorderWidthThin);    
    --measureDimensionBorderButtonMedium: var(--measureDimensionBorderWidthMedium);    
    --measureDimensionBorderButtonThick: var(--measureDimensionBorderWidthThick);    
    --measureDimensionBorderTagThin: var(--measureDimensionBorderWidthThin);    
    --measureDimensionBorderTagMedium: var(--measureDimensionBorderWidthMedium);    
    --measureDimensionBorderTagThick: var(--measureDimensionBorderWidthThick);    
    --measureDimensionBorderTrackThin: var(--measureDimensionBorderWidthThin);    
    --measureDimensionBorderTrackMedium: var(--measureDimensionBorderWidthMedium);    
    --measureDimensionBorderTrackThick: var(--measureDimensionBorderWidthThick);    
    --measureDimensionBorderFieldThin: var(--measureDimensionBorderWidthThin);    
    --measureDimensionBorderFieldMedium: var(--measureDimensionBorderWidthMedium);    
    --measureDimensionBorderFieldThick: var(--measureDimensionBorderWidthThick);    
    --measureDimensionBorderTableThin: var(--measureDimensionBorderWidthThin);    
    --measureDimensionBorderTableMedium: var(--measureDimensionBorderWidthMedium);    
    --measureDimensionBorderTableThick: var(--measureDimensionBorderWidthThick);    
    --measureDimensionRadiusIconS: var(--measureDimensionRadiusNone);    
    --measureDimensionRadiusIconM: var(--measureDimensionRadiusM);    
    --measureDimensionRadiusIconRound: var(--measureDimensionRadiusFull);    
    --measureDimensionRadiusButtonS: var(--measureDimensionRadiusNone);    
    --measureDimensionRadiusButtonM: var(--measureDimensionRadiusM);    
    --measureDimensionRadiusButtonRound: var(--measureDimensionRadiusFull);    
    --measureDimensionRadiusIndicatorS: var(--measureDimensionRadiusS);    
    --measureDimensionRadiusIndicatorM: var(--measureDimensionRadiusM);    
    --measureDimensionRadiusIndicatorRound: var(--measureDimensionRadiusFull);    
    --measureDimensionRadiusCardNone: var(--measureDimensionRadiusNone);    
    --measureDimensionRadiusCardM: var(--measureDimensionRadiusM);    
    --measureDimensionRadiusCardRound: var(--measureDimensionRadiusFull);    
    --measureDimensionRadiusCardS: var(--measureDimensionRadiusS);    
    --measureDimensionRadiusFieldS: var(--measureDimensionRadiusXs);    
    --measureDimensionRadiusFieldM: var(--measureDimensionRadiusM);    
    --measureDimensionRadiusFieldRound: var(--measureDimensionRadiusFull);    
    --measureDimensionRadiusFieldL: var(--measureDimensionRadiusXl);    
}