/* 112 */
$measureDimensionSpacings4xl: 112px;    
$measureDimensionSpacings3xl: 96px;    
$measureDimensionSpacingsXxl: 64px;    
$measureDimensionSpacingsXl: 48px;    
$measureDimensionSpacingsLg: 32px;    
$measureDimensionSpacingsMd: 24px;    
/* 16 */
$measureDimensionSpacingsSm: 16px;    
/* 16 */
$measureDimensionSpacingsXs: 12px;    
/* 4 */
$measureDimensionSpacingsXxs: 4px;    
$measureDimensionSpacingsCustomMd: 20px;    
$measureDimensionSpacingsCustomButtonW: 28px;    
$measureDimensionSpacingsCustomButtonH: 10px;    
$measureDimensionSpacings3xs: 8px;    
/* 4 */
$measureDimensionSpacings4xs: 4px;    
/* 4 */
$measureDimensionSpacings5xs: 2px;    
/* 16 */
$measureDimensionSpacings2xs: 10px;    
$measureDimensionBorderWidthThin: 1px;    
$measureDimensionBorderWidthMedium: 2px;    
$measureDimensionBorderWidthThick: 4px;    
$measureDimensionRadiusNone: 0px;    
$measureDimensionRadiusM: 8px;    
$measureDimensionRadiusL: 16px;    
$measureDimensionRadiusFull: 1000px;    
$measureDimensionRadiusS: 4px;    
$measureDimensionRadiusXl: 44px;    
$measureDimensionRadiusXs: 2px;    
$measureDimensionDataTableCellPaddingBlockFigmaOnly: 8px;    
$measureDimensionDataTableHeaderPaddingBlockFigmaOnly: 12px;    
$measureDimensionFontSize4xl: 48px;    
$measureDimensionFontSize3xl: 40px;    
$measureDimensionFontSize2xl: 32px;    
$measureDimensionFontSizeXl: 24px;    
$measureDimensionFontSizeL: 20px;    
$measureDimensionFontSizeS: 16px;    
$measureDimensionFontSizeXs: 14px;    
$measureDimensionFontSize4xs: 10px;    
$measureDimensionFontSize5xl: 60px;    
$measureDimensionFontSize6xl: 80px;    
$measureDimensionFontSize2xs: 12px;    
$measureDimensionFontSize3xs: 11px;    
$measureDimensionFontSizeM: 17px;    
$measureDimensionFontLineHeight3xl: 42px;    
$measureDimensionFontLineHeight2xl: 38px;    
$measureDimensionFontLineHeightM: 32px;    
$measureDimensionFontLineHeightXs: 24px;    
$measureDimensionFontLineHeight3xs: 20px;    
$measureDimensionFontLineHeight5xs: 16px;    
$measureDimensionFontLineHeight4xl: 44px;    
$measureDimensionFontLineHeight5xl: 52px;    
$measureDimensionFontLineHeight6xl: 60px;    
$measureDimensionFontLineHeight7xl: 74px;    
$measureDimensionFontLineHeightL: 36px;    
$measureDimensionFontLineHeightS: 28px;    
$measureDimensionFontLineHeight6xs: 10px;    
$measureDimensionFontLineHeight2xs: 22px;    
$measureDimensionFontLineHeight4xs: 18px;    
$measureDimensionFontLetterSpacingRegular: 0px;    
$measureDimensionFontLetterSpacingWide: 0.5px;    
$measureDimensionFontLetterSpacingTight: -0.5px;    
$measureDimensionSpacingButtonPadding: $measureDimensionSpacingsCustomMd;    
$measureDimensionSpacingCornerRadiusS: $measureDimensionSpacings4xs;    
$measureDimensionSpacingCornerRadiusM: $measureDimensionSpacings3xs;    
$measureDimensionSpacingPaddingItem4: $measureDimensionSpacings4xs;    
$measureDimensionSpacingPaddingItem8: $measureDimensionSpacings3xs;    
$measureDimensionSpacingPaddingItem16: $measureDimensionSpacingsSm;    
$measureDimensionSpacingPaddingItem24: $measureDimensionSpacingsMd;    
$measureDimensionSpacingPaddingItem32: $measureDimensionSpacingsLg;    
$measureDimensionSpacingPaddingItem48: $measureDimensionSpacingsXl;    
$measureDimensionSpacingPaddingItem64: $measureDimensionSpacingsXxl;    
$measureDimensionSpacingPaddingItem12: $measureDimensionSpacingsXs;    
$measureDimensionSpacingPaddingItem2: $measureDimensionSpacings5xs;    
$measureDimensionSpacingPaddingItem10: $measureDimensionSpacings2xs;    
$measureDimensionSpacingCornerRadiusRound: $measureDimensionSpacings3xl;    
$measureDimensionSpacingSpacingItem4: $measureDimensionSpacings4xs;    
$measureDimensionSpacingSpacingItem8: $measureDimensionSpacings3xs;    
$measureDimensionSpacingSpacingItem16: $measureDimensionSpacingsSm;    
$measureDimensionSpacingSpacingItem24: $measureDimensionSpacingsMd;    
$measureDimensionSpacingSpacingItem32: $measureDimensionSpacingsLg;    
$measureDimensionSpacingSpacingItem48: $measureDimensionSpacingsXl;    
$measureDimensionSpacingSpacingItem64: $measureDimensionSpacingsXxl;    
$measureDimensionSpacingSpacingItem2: $measureDimensionSpacings5xs;    
$measureDimensionBorderIconThin: $measureDimensionBorderWidthThin;    
$measureDimensionBorderIconMedium: $measureDimensionBorderWidthMedium;    
$measureDimensionBorderIconThick: $measureDimensionBorderWidthThick;    
$measureDimensionBorderButtonThin: $measureDimensionBorderWidthThin;    
$measureDimensionBorderButtonMedium: $measureDimensionBorderWidthMedium;    
$measureDimensionBorderButtonThick: $measureDimensionBorderWidthThick;    
$measureDimensionBorderTagThin: $measureDimensionBorderWidthThin;    
$measureDimensionBorderTagMedium: $measureDimensionBorderWidthMedium;    
$measureDimensionBorderTagThick: $measureDimensionBorderWidthThick;    
$measureDimensionBorderTrackThin: $measureDimensionBorderWidthThin;    
$measureDimensionBorderTrackMedium: $measureDimensionBorderWidthMedium;    
$measureDimensionBorderTrackThick: $measureDimensionBorderWidthThick;    
$measureDimensionBorderFieldThin: $measureDimensionBorderWidthThin;    
$measureDimensionBorderFieldMedium: $measureDimensionBorderWidthMedium;    
$measureDimensionBorderFieldThick: $measureDimensionBorderWidthThick;    
$measureDimensionBorderTableThin: $measureDimensionBorderWidthThin;    
$measureDimensionBorderTableMedium: $measureDimensionBorderWidthMedium;    
$measureDimensionBorderTableThick: $measureDimensionBorderWidthThick;    
$measureDimensionRadiusIconS: $measureDimensionRadiusNone;    
$measureDimensionRadiusIconM: $measureDimensionRadiusM;    
$measureDimensionRadiusIconRound: $measureDimensionRadiusFull;    
$measureDimensionRadiusButtonS: $measureDimensionRadiusNone;    
$measureDimensionRadiusButtonM: $measureDimensionRadiusM;    
$measureDimensionRadiusButtonRound: $measureDimensionRadiusFull;    
$measureDimensionRadiusIndicatorS: $measureDimensionRadiusS;    
$measureDimensionRadiusIndicatorM: $measureDimensionRadiusM;    
$measureDimensionRadiusIndicatorRound: $measureDimensionRadiusFull;    
$measureDimensionRadiusCardNone: $measureDimensionRadiusNone;    
$measureDimensionRadiusCardM: $measureDimensionRadiusM;    
$measureDimensionRadiusCardRound: $measureDimensionRadiusFull;    
$measureDimensionRadiusCardS: $measureDimensionRadiusS;    
$measureDimensionRadiusFieldS: $measureDimensionRadiusXs;    
$measureDimensionRadiusFieldM: $measureDimensionRadiusM;    
$measureDimensionRadiusFieldRound: $measureDimensionRadiusFull;    
$measureDimensionRadiusFieldL: $measureDimensionRadiusXl;    
